body {
font-size: 18px;
line-height: 40px;
font-weight: 500;
font-family: "sans-serif", "Arial";
text-transform: uppercase;
background-color: #939393;
}

.clearfix::after {
content: "";
display: block;
clear: both;
}

.global-wrapper {
width: 1700px;
margin: 0 auto;
}

.wrap-content {
width: 1500px;
}

nav {
min-height: 100px;
}

.main-div {
width: 1700px;
height: 895px;
background: url("../img/mainfoto.jpg") no-repeat;
}

.main-div p {
font-size: 60px;
line-height: 70px;
color: #ffffff;
margin-top: 100px;
}

.main-menu ul {
list-style: none;
margin: 0;
padding: 0;
text-align: right;
}

.main-menu li {
display: inline-block;
vertical-align: middle;
font-size: 18px;
line-height: 40px;
}

.main-menu a {
display: block;
text-decoration: none;
color: #ffffff;
margin-top: 75px;
margin-right: 65px;
}

.main-logo {
float: left;
width: 225px;
height: 100px;
background: url("../img/logo.png") no-repeat;
}
